@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
*{
    box-sizing: border-box;
   
    
}
p{
    font-family: 'Mochiy Pop One', sans-serif;
}
body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Mochiy Pop One', sans-serif;
    background-color: rgb(212, 250, 237);
}
h3{
    font-weight: bold;
}
.forecast{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}
